body {
    margin: 0px;

    font-family: 'Noto Serif Georgian', serif;
}

a {
    color: white;
    text-decoration: none;
}

/* FOOTER */

footer {
    background-color: red;
    color: white;
    padding: 0.2em;
    text-align: center;
    bottom: 0px;
    width: calc(100% - 2*0.2em);
}

/* HEADER */

header {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 0.3em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    top: 0px;
    width: calc(100% - 2*0.3em);
    align-items: center;
    position: fixed;
    border-bottom: 2px solid black;
}

body li a:hover {
    background: #ef8354;
}


.menu-rubros li {
    margin-left: 10px;
    padding-left: 20px;
    float: left;
    list-style: none;
}

ul {
    margin: 0px;
}

.logo {
    height: 2em;
}


/* Seccion fotos carrusel*/

.fotos-ofertas {
    margin-top: 50px;
    height: 300px;
    width: calc(100% - 2*0.1em);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
}


/* Seccion: Rubros */


.rubros h2 {
    text-align: center;
}

.rubros li {
    list-style: square;
    font-size: 25px;
}

.rubros {
    background-color: cornflowerblue;
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    justify-content: center;
    width: 100%
}

.electrodomesticos {
    background-color: coral;
    width: 20%;
    height: 300px;
    flex-direction: column;
}

.herramientas {
    background-color: cornflowerblue;
    width: 20%;
    height: 300px;
    flex-direction: column;
}

.electronica {
    background-color: coral;
    width: 18%;
    height: 300px;
    flex-direction: column;
}

.pesca {
    background-color: cornflowerblue;
    width: 20%;
    height: 300px;
    flex-direction: column;
}

.bazar {
    background-color: coral;
    width: 20%;
    height: 300px;
    flex-direction: column;
}


/* Seccion Ofertas  */

#ofertas {
    background-color: darkcyan;
    align-content: center;
}


#ofertas h2,
#ofertas h3,
p {
    text-align: center;
}

#ofertas p {
    font-size: 20px;
    font-style: italic;
}

#ofertas {
    background-color: white;
    min-height: 100vh;
}

#ofertas img {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    background-color: white;
}

.contenedor-ofertas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}

.contenedor-ofertas>div {
    flex-basis: 30%;
    border: 2px solid black;
    margin-bottom: 2em;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
}


/* Seccion Información  */

.container-info {
    background-color: green;
    display: flex;
    flex-flow: row nowrap;
    flex-wrap: wrap;
    align-items: baseline;
}

.container-info>div {
    flex-basis: 20%;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 20px;
}

#informacion {
    margin-left: 30px;
    margin-top: 20px;
    line-height: 40px;
}

#informacion h2 {
    text-align: center;
}

#medios-de-pago {
    flex-basis: 20%;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 20px;

    justify-content: center;
    margin-left: 50px;
    line-height: 40px;
}

#medios-de-pago h2 {
    color: black;
    text-align: center;
}

#medios-de-pago ul {
    padding-left: 50px;
    font-size: 25px;
}

#mapa {
    margin-top: 20px;
    align-content: center;
    margin-left: 50%;
}